
body{
    margin: 0px;
  }

#controls {
    position: absolute;
    background: #cfcfcf;
    top: 20px;
    left: 20px;
    padding: 15px ;
    width: 119;
    height: 170;  
    opacity: 0.6;
    
}

    #canvas {
        background-image:url('images/background.png')  ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1680px 1080px;
        width: 100%;
        height: 100%;
    }


#lost
{
    font-family: 'Courier New', Courier, monospace;
    color: red

}
#ship {
    position:absolute;
    width:500px;
    height:375px;
    background: url('images/ship.png') ;
    display: block;
    top: -1000px;
}
#flame {
    position: absolute relative  ; 
    width:400px;
    height:500px;
    display: none;
    margin-top: 43px;
    margin-left: 45px;
    background: url('images/flame.png') ;
    top: -1000px;
    background-repeat: no-repeat;
}
#blowup {
    position: absolute relative  ;
    width:550px;
    height:500px;
    display: none;
     margin-left: 45px;
    background: url('GIF/crashed.gif') ; 
    top: 0px;
    background-repeat: no-repeat;

}
#fuel
{
font-family: 'Courier New', Courier, monospace;
color: red
}
#win{
    width:550px;
    height:500px;
    position: absolute relative  ;
}

    button {
        background-color: indianred;
        border: none;
       
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
