
body{
    margin: 0px;
}

#controls {
    height: 10pc;
    width: 10pc;
    position: absolute;
    background: #cfcfcf;
    top: 600px;
    left: 200px;
    padding: 15px    
}
#canvas {
    background: url('images/backnew.jpg');
    background-size:100%;
    width: 100%;
    height: 100%;
}
#ship {
    position:absolute;
    width:500px;
    height:375px;
    background:url('images/ship.png');
    top: -1000px;
}
#success
{
    font-size: 5pc;
    position: absolute;
    color:green;
    height: 40px;
    width: 60px;
    top: 50px;
    left: 700px
}
#fail
{
    font-size: 5pc;
    position: absolute;
    color:red;
    height: 40px;
    width: 60px;
    top: 50px;
    left: 750px;
}

#button {
   width: 100px;
   height: 100px;
   top:60px;
    left:60px;
    }

    #blast {
        position:absolute;
        width:200px;
        height:375px;
        background:url('images/final.gif');
        background-size: 20pc;
    }