
body{
    margin: 0px;
}

#controls {
    position: absolute;
    background: #cfcfcf;
    top: 20px;
    left: 20px;
    padding: 15px    
}
#canvas {
    
    background:url('images/ground.jpg');
    background-size: 150%;
    width: 100%;
    height: 100%;
}
#ship {
    position:absolute;
    width:500px;
    height:375px;
    background: url('images/ship.png');
    top: -1000px;
}
#landingPlatform{
  width: 87px;
  height: 37px;
 /* background:url('images/landingpad.png');*/
  
  margin-top: -50px;

}
#Successful{
    
        position: absolute;
        background: red;
        font-size: 100px;
        top: 40pc;
        left: 40pc;
        
        
}
#Crashed{
    
    position: absolute;
    color:rgb(8, 8, 8);
    top: 40pc;
    left: 43pc;
    height:30px;
    width: 45px;
    font-size: 100px;
    
    
}
#fire{
    position: absolute;
    width: 89px;
    height: 39px;
    top: -1000px;
    bottom:500px;
}
#blast{
    position: absolute;
}
