
body{
    margin: 0px;
  }

#controls {
    position: absolute;
    background: #cfcfcf;
    top: 20px;
    left: 20px;
    padding: 15px    
}
#canvas {
    background-image: url("images/bgnew.png");
   width: 100%;
   height: 100%; 

}
#ufocrash{
    position:  absolute;
    background: #f31111;
   
    top: 20px;
    right: 20px;
  }
#ship {
    position:absolute;
    width:500px;
    height:375px;
    background: url('images/ship.png') ;
    top: -1000px;
    left :379.5px;
}
#crashgif{
    background: url('images/crashgif.gif') ;
    position: absolute relative  ;
    width:550px;
    height:500px;
    display: none;
    margin-left: 45px;
    top: 0px;
    background-repeat: no-repeat;
}
#success{
    position:  absolute;
    background: #11f311;
   
    top: 20px;
    right: 20px;
    
}
#tryagain{
    position: absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -13em; /*set to a negative number 1/2 of your height*/
    margin-left: -4em; /*set to a negative number 1/2 of your width*/
    
}
